html , body,{
  height: 100%;
  width: 100%;
  background: black;
}
.parent-container{
  text-align: center;
}
.header{
  margin:0;
  padding: 15px 0;
  width: 100%;
  background:black;
  font-size: 70px;
  text-shadow: 2px 2px lightgrey;
  color:#363337;
  font-family: 'Lucida console';
}
.nav-bar{
  height: 40px;
}
.message{
  display: inline-block;
  background: cornsilk;
  font-family: 'Lucida console';
  padding: 10px;
  margin-top: 1px;
}
.container{
  padding: 10px;
  background: orange;
}
.add-task{
}
.task-input{
  margin-top: 10px;
  width: 500px;
  height: 30px;
  font-size: 15px;
}
.add-button{
  width: 200px;
  height:36px;
  font-size: 20px;
  background: black;
  color: white;
  font-family: 'Lucida console';
}
.draggable-container{
  margin-top: 10px;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.planning, .inProgress, .testing, .complete{
    background: #222;
    height: 580px;
    margin: 10px;
    width: 300px;
    min-width: 300px;
    overflow:hidden;
    border-radius: 5px;
}
#task-header-planning{
  background: #eee710;
  padding: 15px;
  color: white;
  font-family: 'Lucida console';
  font-size: 20px;
}
#task-header-progress{
  background: #64dddd;
  padding: 15px;
  color: white;
  font-family: 'Lucida console';
  font-size: 20px;
}
#task-header-testing{
  background: #bd1c50;
  padding: 15px;
  color: white;
  font-family: 'Lucida console';
  font-size: 20px;
}
#task-header-complete{
  background: #86d34c;
  padding: 15px;
  color: white;
  font-family: 'Lucida console';
  font-size: 20px;
}

.task-container{
  overflow-y: scroll;
  background: #222;
  height: 550px;
}
.task{
  font-family: 'Lucida console';
  background: black;
  color: white;
  margin: 10px;
  padding: 30px 15px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
