html , body,{
  height: 100%;
  width: 100%;
  background: black;
}
.parent-container{
  text-align: center;
}
.header{
  margin:0;
  padding: 15px 0;
  width: 100%;
  background:black;
  font-size: 70px;
  text-shadow: 2px 2px lightgrey;
  color:#363337;
  font-family: 'Lucida console';
}
.nav-bar{
  height: 40px;
}
.message{
  display: inline-block;
  background: ghostwhite;
  font-family: 'Lucida console';
}
.container{
  padding: 10px;
  background: orange;
}
.add-task{

}
.draggable-container{
  margin-top: 10px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.planning, .inProgress, .testing, .complete{
    background: #222;
}
#task-header-planning{
  background: #eee710;
  padding: 15px;
  color: white;
  font-family: 'Lucida console';
}
#task-header-progress{
  background: #64dddd;
  padding: 15px;
  color: white;
  font-family: 'Lucida console';
}
#task-header-testing{
  background: #bd1c50;
  padding: 15px;
  color: white;
  font-family: 'Lucida console';
}
#task-header-complete{
  background: #86d34c;
  padding: 15px;
  color: white;
  font-family: 'Lucida console';
}

.task-container{
  overflow-y: auto;
  background: #222;
}
.task{
  font-family: 'Lucida console';
  background: black;
  color: white;
  margin: 10px;
  padding: 10px;
}
